.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.913086;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1284.512732px;}
._1{width:168.916244px;}
._7{width:238.501403px;}
._0{width:244.665512px;}
._6{width:275.716688px;}
._5{width:408.880244px;}
._4{width:453.602412px;}
._3{width:454.851680px;}
.fc1{color:rgb(5,99,193);}
.fc3{color:rgb(46,117,182);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs8{font-size:32.000000px;}
.fs9{font-size:36.000000px;}
.fs7{font-size:40.000000px;}
.fsb{font-size:42.000000px;}
.fs5{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.fs2{font-size:64.000000px;}
.fs3{font-size:72.000000px;}
.fsa{font-size:80.000000px;}
.fs4{font-size:96.000000px;}
.fs1{font-size:112.000000px;}
.fs6{font-size:128.000000px;}
.y6c{bottom:-7.837646px;}
.y0{bottom:0.000000px;}
.y6f{bottom:18.567666px;}
.y70{bottom:19.457437px;}
.y5a{bottom:30.545956px;}
.y3a{bottom:53.976452px;}
.y2f{bottom:60.930397px;}
.y51{bottom:63.062111px;}
.y2e{bottom:72.930399px;}
.y50{bottom:75.062113px;}
.y8{bottom:75.533438px;}
.y3{bottom:81.315413px;}
.y59{bottom:82.430855px;}
.y2d{bottom:84.930399px;}
.y30{bottom:85.116641px;}
.y4f{bottom:87.062113px;}
.y47{bottom:89.261909px;}
.y61{bottom:92.401632px;}
.y2c{bottom:108.297905px;}
.y4e{bottom:110.429619px;}
.y44{bottom:124.094189px;}
.y42{bottom:124.542126px;}
.y43{bottom:124.559704px;}
.yd{bottom:131.083828px;}
.y56{bottom:132.828835px;}
.yf{bottom:133.810202px;}
.y4{bottom:139.701956px;}
.y21{bottom:141.247786px;}
.y6a{bottom:146.731750px;}
.y69{bottom:147.413696px;}
.y6b{bottom:148.195374px;}
.y60{bottom:148.836971px;}
.y39{bottom:168.491104px;}
.y2a{bottom:171.636543px;}
.y4d{bottom:174.270943px;}
.y20{bottom:176.824385px;}
.y6d{bottom:180.200173px;}
.yb{bottom:180.218727px;}
.y6e{bottom:180.397439px;}
.y55{bottom:180.902798px;}
.y57{bottom:182.459103px;}
.y29{bottom:183.636545px;}
.y4c{bottom:186.270945px;}
.y52{bottom:188.787746px;}
.y28{bottom:195.636545px;}
.y2b{bottom:195.822787px;}
.y4b{bottom:198.270945px;}
.y5e{bottom:201.065346px;}
.y5{bottom:201.546017px;}
.ye{bottom:202.793911px;}
.y1a{bottom:203.241224px;}
.y1f{bottom:205.760908px;}
.y54{bottom:211.638206px;}
.y48{bottom:212.412849px;}
.y46{bottom:212.815109px;}
.y27{bottom:219.004051px;}
.y4a{bottom:221.638451px;}
.y40{bottom:222.524498px;}
.ya{bottom:229.315285px;}
.y58{bottom:232.084724px;}
.y1e{bottom:241.117516px;}
.y19{bottom:241.777784px;}
.y3c{bottom:249.477131px;}
.y5f{bottom:249.848183px;}
.y3d{bottom:255.260225px;}
.y53{bottom:256.254711px;}
.y3b{bottom:263.877131px;}
.y13{bottom:265.198147px;}
.y1{bottom:270.170986px;}
.y5b{bottom:276.266241px;}
.yc{bottom:278.098122px;}
.y18{bottom:278.478727px;}
.y25{bottom:280.184639px;}
.y24{bottom:292.184641px;}
.y5d{bottom:295.969383px;}
.y1d{bottom:303.779264px;}
.y45{bottom:304.122932px;}
.y23{bottom:304.184641px;}
.y26{bottom:304.370914px;}
.y3e{bottom:304.511950px;}
.y12{bottom:308.251621px;}
.y3f{bottom:314.989189px;}
.y17{bottom:317.015257px;}
.y33{bottom:318.354922px;}
.y11{bottom:322.651621px;}
.y37{bottom:323.181932px;}
.y9{bottom:324.219307px;}
.y22{bottom:327.552147px;}
.y1c{bottom:334.189192px;}
.y41{bottom:336.905863px;}
.y5c{bottom:347.352566px;}
.y68{bottom:351.759598px;}
.y2{bottom:351.909565px;}
.y64{bottom:352.183352px;}
.y36{bottom:352.782472px;}
.y34{bottom:356.560602px;}
.y10{bottom:357.009609px;}
.y16{bottom:362.707722px;}
.y66{bottom:363.083921px;}
.y38{bottom:372.332541px;}
.y6{bottom:375.602489px;}
.y67{bottom:375.759600px;}
.y1b{bottom:377.028694px;}
.y49{bottom:380.772693px;}
.y35{bottom:385.678866px;}
.y32{bottom:391.931293px;}
.y63{bottom:400.114704px;}
.y65{bottom:401.946106px;}
.y62{bottom:414.514704px;}
.y31{bottom:430.216899px;}
.y7{bottom:443.409557px;}
.y15{bottom:471.123079px;}
.y14{bottom:474.166174px;}
.h9{height:22.906250px;}
.ha{height:25.839844px;}
.h8{height:28.632812px;}
.hc{height:30.146484px;}
.h6{height:34.453125px;}
.h1{height:40.195312px;}
.h3{height:45.937500px;}
.h4{height:51.679688px;}
.hb{height:57.421875px;}
.h5{height:68.906250px;}
.h2{height:80.390625px;}
.h7{height:91.875000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xf{left:48.682125px;}
.xe{left:51.556770px;}
.xd{left:201.933014px;}
.x3e{left:246.117798px;}
.x40{left:248.805298px;}
.x24{left:259.676605px;}
.x23{left:262.373539px;}
.x3b{left:269.013776px;}
.x27{left:279.572693px;}
.x25{left:281.563721px;}
.x2f{left:290.509277px;}
.x2b{left:292.496445px;}
.x14{left:293.868958px;}
.x28{left:313.741730px;}
.x2d{left:316.995106px;}
.x26{left:318.836151px;}
.x2a{left:341.798096px;}
.x20{left:372.801331px;}
.x6{left:375.620667px;}
.x3{left:378.074982px;}
.x1{left:380.308289px;}
.x3f{left:381.381699px;}
.x41{left:384.069199px;}
.x32{left:393.112549px;}
.x1d{left:397.100433px;}
.x1e{left:403.402718px;}
.x29{left:409.784019px;}
.x7{left:413.851578px;}
.x2{left:418.539017px;}
.xb{left:421.150383px;}
.x2e{left:425.445740px;}
.x1f{left:435.160709px;}
.xa{left:444.711960px;}
.x8{left:447.843140px;}
.x31{left:448.940443px;}
.x22{left:451.904274px;}
.x4{left:456.062485px;}
.x5{left:458.074982px;}
.x34{left:463.556519px;}
.x21{left:474.012695px;}
.x39{left:479.325581px;}
.x9{left:488.592712px;}
.x30{left:494.589478px;}
.x33{left:506.084595px;}
.x3a{left:509.151749px;}
.x2c{left:516.686874px;}
.x3c{left:537.062238px;}
.x35{left:550.498034px;}
.x36{left:553.494126px;}
.xc{left:628.324890px;}
.x15{left:654.750090px;}
.x3d{left:662.187360px;}
.x1b{left:673.878601px;}
.x1c{left:675.208923px;}
.x1a{left:677.538040px;}
.x38{left:777.306641px;}
.x37{left:792.945999px;}
.x10{left:802.985596px;}
.x12{left:804.199951px;}
.x19{left:809.832882px;}
.x13{left:813.151695px;}
.x11{left:819.839249px;}
.x16{left:825.086864px;}
.x18{left:828.699110px;}
.x17{left:832.600536px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1712.683643pt;}
._1{width:225.221659pt;}
._7{width:318.001871pt;}
._0{width:326.220682pt;}
._6{width:367.622251pt;}
._5{width:545.173659pt;}
._4{width:604.803216pt;}
._3{width:606.468906pt;}
.fs8{font-size:42.666667pt;}
.fs9{font-size:48.000000pt;}
.fs7{font-size:53.333333pt;}
.fsb{font-size:56.000000pt;}
.fs5{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.fs2{font-size:85.333333pt;}
.fs3{font-size:96.000000pt;}
.fsa{font-size:106.666667pt;}
.fs4{font-size:128.000000pt;}
.fs1{font-size:149.333333pt;}
.fs6{font-size:170.666667pt;}
.y6c{bottom:-10.450195pt;}
.y0{bottom:0.000000pt;}
.y6f{bottom:24.756888pt;}
.y70{bottom:25.943249pt;}
.y5a{bottom:40.727941pt;}
.y3a{bottom:71.968602pt;}
.y2f{bottom:81.240529pt;}
.y51{bottom:84.082815pt;}
.y2e{bottom:97.240532pt;}
.y50{bottom:100.082817pt;}
.y8{bottom:100.711250pt;}
.y3{bottom:108.420550pt;}
.y59{bottom:109.907806pt;}
.y2d{bottom:113.240532pt;}
.y30{bottom:113.488855pt;}
.y4f{bottom:116.082817pt;}
.y47{bottom:119.015879pt;}
.y61{bottom:123.202176pt;}
.y2c{bottom:144.397207pt;}
.y4e{bottom:147.239492pt;}
.y44{bottom:165.458918pt;}
.y42{bottom:166.056168pt;}
.y43{bottom:166.079605pt;}
.yd{bottom:174.778437pt;}
.y56{bottom:177.105113pt;}
.yf{bottom:178.413602pt;}
.y4{bottom:186.269274pt;}
.y21{bottom:188.330381pt;}
.y6a{bottom:195.642334pt;}
.y69{bottom:196.551595pt;}
.y6b{bottom:197.593831pt;}
.y60{bottom:198.449295pt;}
.y39{bottom:224.654806pt;}
.y2a{bottom:228.848724pt;}
.y4d{bottom:232.361257pt;}
.y20{bottom:235.765846pt;}
.y6d{bottom:240.266898pt;}
.yb{bottom:240.291636pt;}
.y6e{bottom:240.529919pt;}
.y55{bottom:241.203730pt;}
.y57{bottom:243.278804pt;}
.y29{bottom:244.848727pt;}
.y4c{bottom:248.361259pt;}
.y52{bottom:251.716995pt;}
.y28{bottom:260.848727pt;}
.y2b{bottom:261.097050pt;}
.y4b{bottom:264.361259pt;}
.y5e{bottom:268.087128pt;}
.y5{bottom:268.728022pt;}
.ye{bottom:270.391881pt;}
.y1a{bottom:270.988299pt;}
.y1f{bottom:274.347878pt;}
.y54{bottom:282.184275pt;}
.y48{bottom:283.217133pt;}
.y46{bottom:283.753479pt;}
.y27{bottom:292.005402pt;}
.y4a{bottom:295.517934pt;}
.y40{bottom:296.699331pt;}
.ya{bottom:305.753713pt;}
.y58{bottom:309.446299pt;}
.y1e{bottom:321.490021pt;}
.y19{bottom:322.370379pt;}
.y3c{bottom:332.636175pt;}
.y5f{bottom:333.130910pt;}
.y3d{bottom:340.346967pt;}
.y53{bottom:341.672948pt;}
.y3b{bottom:351.836174pt;}
.y13{bottom:353.597529pt;}
.y1{bottom:360.227982pt;}
.y5b{bottom:368.354988pt;}
.yc{bottom:370.797496pt;}
.y18{bottom:371.304970pt;}
.y25{bottom:373.579519pt;}
.y24{bottom:389.579521pt;}
.y5d{bottom:394.625844pt;}
.y1d{bottom:405.039019pt;}
.y45{bottom:405.497243pt;}
.y23{bottom:405.579521pt;}
.y26{bottom:405.827885pt;}
.y3e{bottom:406.015933pt;}
.y12{bottom:411.002162pt;}
.y3f{bottom:419.985586pt;}
.y17{bottom:422.687009pt;}
.y33{bottom:424.473230pt;}
.y11{bottom:430.202161pt;}
.y37{bottom:430.909243pt;}
.y9{bottom:432.292409pt;}
.y22{bottom:436.736196pt;}
.y1c{bottom:445.585589pt;}
.y41{bottom:449.207817pt;}
.y5c{bottom:463.136754pt;}
.y68{bottom:469.012797pt;}
.y2{bottom:469.212753pt;}
.y64{bottom:469.577803pt;}
.y36{bottom:470.376630pt;}
.y34{bottom:475.414136pt;}
.y10{bottom:476.012812pt;}
.y16{bottom:483.610296pt;}
.y66{bottom:484.111895pt;}
.y38{bottom:496.443387pt;}
.y6{bottom:500.803319pt;}
.y67{bottom:501.012800pt;}
.y1b{bottom:502.704926pt;}
.y49{bottom:507.696924pt;}
.y35{bottom:514.238489pt;}
.y32{bottom:522.575057pt;}
.y63{bottom:533.486272pt;}
.y65{bottom:535.928141pt;}
.y62{bottom:552.686272pt;}
.y31{bottom:573.622532pt;}
.y7{bottom:591.212743pt;}
.y15{bottom:628.164106pt;}
.y14{bottom:632.221565pt;}
.h9{height:30.541667pt;}
.ha{height:34.453125pt;}
.h8{height:38.177083pt;}
.hc{height:40.195312pt;}
.h6{height:45.937500pt;}
.h1{height:53.593750pt;}
.h3{height:61.250000pt;}
.h4{height:68.906250pt;}
.hb{height:76.562500pt;}
.h5{height:91.875000pt;}
.h2{height:107.187500pt;}
.h7{height:122.500000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xf{left:64.909500pt;}
.xe{left:68.742360pt;}
.xd{left:269.244019pt;}
.x3e{left:328.157064pt;}
.x40{left:331.740397pt;}
.x24{left:346.235474pt;}
.x23{left:349.831385pt;}
.x3b{left:358.685034pt;}
.x27{left:372.763590pt;}
.x25{left:375.418294pt;}
.x2f{left:387.345703pt;}
.x2b{left:389.995260pt;}
.x14{left:391.825277pt;}
.x28{left:418.322306pt;}
.x2d{left:422.660141pt;}
.x26{left:425.114868pt;}
.x2a{left:455.730794pt;}
.x20{left:497.068441pt;}
.x6{left:500.827555pt;}
.x3{left:504.099976pt;}
.x1{left:507.077718pt;}
.x3f{left:508.508931pt;}
.x41{left:512.092265pt;}
.x32{left:524.150065pt;}
.x1d{left:529.467244pt;}
.x1e{left:537.870290pt;}
.x29{left:546.378693pt;}
.x7{left:551.802104pt;}
.x2{left:558.052022pt;}
.xb{left:561.533844pt;}
.x2e{left:567.260986pt;}
.x1f{left:580.214279pt;}
.xa{left:592.949280pt;}
.x8{left:597.124186pt;}
.x31{left:598.587257pt;}
.x22{left:602.539032pt;}
.x4{left:608.083313pt;}
.x5{left:610.766642pt;}
.x34{left:618.075358pt;}
.x21{left:632.016927pt;}
.x39{left:639.100774pt;}
.x9{left:651.456950pt;}
.x30{left:659.452637pt;}
.x33{left:674.779460pt;}
.x3a{left:678.868998pt;}
.x2c{left:688.915833pt;}
.x3c{left:716.082984pt;}
.x35{left:733.997378pt;}
.x36{left:737.992168pt;}
.xc{left:837.766520pt;}
.x15{left:873.000120pt;}
.x3d{left:882.916480pt;}
.x1b{left:898.504801pt;}
.x1c{left:900.278564pt;}
.x1a{left:903.384054pt;}
.x38{left:1036.408854pt;}
.x37{left:1057.261332pt;}
.x10{left:1070.647461pt;}
.x12{left:1072.266602pt;}
.x19{left:1079.777176pt;}
.x13{left:1084.202260pt;}
.x11{left:1093.118998pt;}
.x16{left:1100.115819pt;}
.x18{left:1104.932147pt;}
.x17{left:1110.134048pt;}
}
